openapi: 3.0.0
info:
  title: Melon.com Artist API
  version: 1.0.0
  description: API specification for melon.com artist information endpoint

servers:
  - url: https://m2.melon.com
    description: Melon mobile API server

paths:
  /m6/v3/artist/home/basicInfo.json:
    get:
      summary: Get artist information
      description: Retrieve detailed information about an artist by their ID
      operationId: getArtistInfo
      parameters:
        - name: artistId
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
          description: Melon artist ID
          example: 3114174
      responses:
        "200":
          description: Successful response with artist information
          content:
            application/json:
              schema:
                type: object
                required:
                  - response
                properties:
                  response:
                    type: object
                    required:
                      - ARTISTID
                      - ARTISTNAME
                      - ARTISTIMGLARGE
                      - POSTIMG
                      - ARTISTNOTEINFO
                    properties:
                      ARTISTID:
                        type: integer
                        description: Artist ID
                        example: 3114174
                      ARTISTNAME:
                        type: string
                        description: Artist name
                        example: "NewJeans"
                      ARTISTIMGLARGE:
                        type: string
                        format: uri
                        description: Large artist image URL
                        example: "https://cdnimg.melon.co.kr/cm2/artistcrop/images/031/14/174/3114174_20231219153524_500.jpg"
                      POSTIMG:
                        type: string
                        format: uri
                        description: Profile image URL
                        example: "https://cdnimg.melon.co.kr/cm2/artistcrop/images/031/14/174/3114174_20231219153524_500.jpg"
                      ARTISTNOTEINFO:
                        type: object
                        description: Artist additional information
                        properties:
                          ISSUEDATE:
                            type: string
                            format: date
                            description: Debut date
                            example: "2022.07.22"
                          ARTISTNOTE:
                            type: string
                            description: Artist biography
        "400":
          description: Bad request - invalid artist ID
        "404":
          description: Artist not found
        "500":
          description: Internal server error
        "503":
          description: Service unavailable

components:
  schemas:
    ArtistInfo:
      type: object
      required:
        - ARTISTID
        - ARTISTNAME
        - ARTISTIMGLARGE
        - POSTIMG
        - ARTISTNOTEINFO
      properties:
        ARTISTID:
          type: integer
        ARTISTNAME:
          type: string
        ARTISTIMGLARGE:
          type: string
          format: uri
        POSTIMG:
          type: string
          format: uri
        ARTISTNOTEINFO:
          type: object
          properties:
            ISSUEDATE:
              type: string
              format: date
            ARTISTNOTE:
              type: string
