<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    colors="true"
    testdox="true">
    <testsuites>
        <testsuite name="offline">
            <directory>tests</directory>
            <exclude>tests/OpenApiContractTest.php</exclude>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>online</group>
        </exclude>
    </groups>

    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>